.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 40px;
    margin-top: 130px;
    margin-bottom: 100px;
    align-items: center;
    align-content: center;
}

.menu__tipos{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 400px;
    background-color: #dfdfdf;
    box-shadow: 1px 1px 10px 1px rgb(120, 120, 120);
}

.menu__tipos:hover{
    background-color: #e9e9e9;
}

.menu__subtitle {
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    color: #777777;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.menu__subtitle:hover{
    transform: skew(-5deg);
    -webkit-transform: skew(-5deg);
    -moz-transform: skew(-5deg);
    transition: all .4s ease-in-out;
    color:#121212 ;
}


.menu__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    align-content: left;
    width: 200px;
    margin-top: 10px;
}

.menu__items{
    color: #777777;
    font-size: 25px;
    line-height: 30px;
    transition: transform .4s ease-in-out;
    cursor: pointer;
}

.menu__items:hover{
    transform: translate(20px,0px);
    -webkit-transform: translate(20px,0px);
    -moz-transform: translate(20px,0px);
    transition: transform .4s ease-in-out;
    color: #121212;
}


.menu__imgs {
    display: grid;
    height: 500px;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-template-areas:  
    "img1 img1 img2"
    "img1 img1 img4"
    "img1 img1 img6";
    gap: 3px;
    margin-bottom: 100px;
}


.menu__projects{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 7px 10px 0px rgb(108, 108, 108);
}

.menu__img{
    width: 100%;
    height: 100%;
    object-fit: 100%;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    transform: scale(1.1);
}

.menu__img:hover{
    transform: scale(1.5);
    
}