.sec__nos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 150px;
}

.nos__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    background-color: #e9e9e9;
    height: 350px;
    margin: auto;
}

.nos__title{
    font-size: 35px;
    color: #777777;
    margin-bottom: 10px;
}

.nos__parrafo {
    font-size: 20px;
    text-align: justify;
    line-height: 1.8rem;
    width: 80%;
    color: #777777;
}

.nos__map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.div__map {
    transition: all .4s ease-in-out;
    margin-top: 40px;

}

.div__map:hover{
    transform: scale(1.1);
    transition: all .4s ease-in-out;
}

.map {
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px rgb(120, 120, 120);
}